.lessons-page { 
    display: flex; 
    height: 100%; 
 
    &__content { 
        flex-grow: 1; 
        overflow: auto; 
    } 
    &__main { 
        display: flex; 
        justify-content: center; 
        padding: 5px; 
        width: 50%; 
    } 
} 
 
.lesson { 
    padding: 20px; 
    background-color: #d2cfcf; 
    transition: 0.15s; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
 
    &:hover { 
        transform: scaleY(1.1); 
        box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.6); 
    } 
}
