.lessons-page {
  display: flex;
  height: 100%;

  &__content {
    flex-grow: 1;
    overflow: auto;
  }

  &__main {
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 50%;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-size: 24px;
    font-weight: normal;
    background-color: rgb(42, 42, 42);
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    transition: 0.25s;

    &:hover {
      transform: scaleY(1.1);
      box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.6);
    }
  }

  & &__button2 {
    height: 40px;
    align-self: center;
    color: #ff6b6b;
    background-color: rgb(42, 42, 42);
    padding: 25px;
    margin-left: 25px;
    transition: 0.25s;

    &:hover {
      transform: scaleY(1.1);
      background-color: rgb(42, 42, 42);
      box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.6);
    }
  }

  &__title {
    color: #1976d2;
  }
}
