.modules-page {
    display: flex;
    height: 100%;

    &__content {
        display: flex;

    }

    &__modules {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        width: 850px;

    }

    &__module {
        display: flex;
        flex-direction: column;
        width: 250px;
        box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .5);
        margin: 10px;
        align-items: start;
        background-color: rgb(61, 61, 61);

    }

    &__img {
        width: 100%;
    }

    &__title {
        font-size: 20px;
        margin-top: 10px;
        padding: 5px;
        color: #fff;
    }

    &__subtitle {
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 15px;
        color: rgb(205, 205, 205);
        padding: 5px;

    }

    &__card-footer {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 5px;

    }
}