.profile-page {
  display: flex;
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 8px;
    color: #d1d0c5;
  }

  &__tasks {
    display: flex;
  }

  &__inProgress {
    color: #b0e0e6;
  }

  &__complete {
    color: #9acd32;
  }

  &__container-modules {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
