.modal-item {
  padding: 20px;
  background-color: #2a2a2a;

  &__lesson {
    font-size: 24px;
    padding-bottom: 15px;
    text-transform: uppercase;
    color: #1976d2;
  }

  &__title {
    font-size: 16px;
    padding-bottom: 15px;
    color: #1976d2;
  }

  &__input input {
    color: white;
  }
}

.video {
  padding-bottom: 15px;
  width: 100%;
}
